<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="debugger"
				xsi:type="Debugger"
				layout="${logger}::${message}" />

		<target name="logfile"
				xsi:type="File"
				fileName="webshot.log"
				maxArchiveFiles="30"
				archiveFileName="webshot.{#}.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd" />

		<target name="logconsole"
				xsi:type="ColoredConsole" />

		<target name="project"
				xsi:type="File"
				fileName="${var:projectdir}/webshot-project.log"
				maxArchiveFiles="30"
				archiveFileName="${var:projectdir}/webshot-project.{#}.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd" />
	</targets>

	<rules>
		<!--<logger name="project" minlevel="Debug" writeTo="project" />-->
		<logger name="*" minlevel="Trace" writeTo="debugger" />
		<logger name="*" minlevel="Info" writeTo="logconsole" />
		<logger name="*" minlevel="Debug" writeTo="logfile" />
	</rules>
</nlog>